@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(249 250 251);
  color: rgb(17 24 32);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
